[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.5"
django-seed = "*"
lists = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
