
<div class="w-1/5">
  <div class=" mb-6 px-2">
    <a href="{% url 'books:book' book.pk %}">
      <div class="flex flex-col"">
        <div class="h-64 bg-cover bg-center rounded-lg mb-2 " style="background-image: url({{book.cover_image.url}});"></div>
        <span class="text-lg font-bold	">{{book.title}}</span>
        <span class="text-sm mr-1">{{book.year}}</span>
        <span class="text-xs mr-1"> 평점 <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{book.rating}}</span>
      </div>
    </a>
  </div>

</div>