{% extends "base.html" %}

{% block page_title %}
  Books
{% endblock page_title %}

{% block content %}
<div class="container mx-auto">
  <div class="pt-6 ">
    <div class="text-3xl mb-8">Books</div>
    <div class="flex item-center flex-wrap">
      {% for book in books %}
        {% include "mixins/book.html" with book=book %}
      {% endfor %}
    </div>
  </div>
  <hr />
  <div>
    {% if page_obj.has_previous %}
          <a class="text-pink-600 mb-8"  href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}

      Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

      {% if page_obj.has_next  %}
          <a class="text-pink-600 mb-8"  href="?page={{page_obj.next_page_number}}">Next</a>
      {% endif %}
  </div>
</div>
{% endblock content %}