
{% extends "base.html" %}
<!--  load is_booked on_favs i18n -->

{% block page_title %}
{{book.title}}
{% endblock page_title %}

{% block content %}
  <div class="flex justify-center">

    <div class="container-md mx-auto w-1/3 flex flex-col border rounded-xl shadow-xl px-8 py-6 mt-4">
      {% comment %} <img src="{{book.cover_image.url}}" class="w-3/4 rounded place-self-center" alt=""> {% endcomment %}
      <img src="https://picsum.photos/id/{{ book.pk }}/200/300" class="w-3/4 rounded place-self-center" alt="">
       {% if user.is_authenticated %}
        {% include "mixins/fav_button.html" with obj=book kind='book' %}
      {% endif %}

      <span class="text-lg font-bold">{{book.title}}</span>
      <span class="text-sm mr-1" >{{book.year}} {{book.category}}</span>
      <span class="text-xs mr-1"> 평점 <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{book.rating}}</span>
      <span>Writer : {{book.writer}}</span>
      
      <hr/>
      <span  class="font-medium text-2xl text-center w-full block mb-5"> Reviews</span>
      <hr/>
      {% for review in book.reviews.all %}
        <p><span class="text-xs mr-1"> <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{review.rating}}</span>{{review.text}}({{review.created_by}})</p>
      {% endfor %}
      
    {% if user.is_authenticated %}  
    <div>
      <span class="font-medium text-2xl text-center w-full block mb-5">Write your review</span>
      <form action="{% url 'reviews:create' book.pk %}" method="POST" class="w-1/2 mx-auto">
          {% csrf_token %}
          <input type="hidden" name="type" value="book">
          {{review_form}}
          <button class="btn-link mt-5">Submit Review</button>
      </form>
    </div>
    {% endif %}
    
      <div class="bg-pink-500 hover:bg-pink-700 text-white font-bold rounded w-full mt-4 py-2 px-4 flex justify-center ">
        <a class="mx-auto " href="{% url 'books:update' book.pk %}">Edit Book</a>
      </div>
    </div>

  </div>

{% endblock content %}